<header id="rtsHeader">

    <div class="navbar-sticky">
        <div class="container">
            <div class="navbar-part navbar-part1">
                <div class="navbar-inner">
                    <div class="left-side">
                        <div class="hamburger-1">
                            <a href="#" class="nav-menu-link">
                                <span class="dot1"></span>
                                <span class="dot2"></span>
                                <span class="dot3"></span>
                                <span class="dot4"></span>
                                <span class="dot5"></span>
                                <span class="dot6"></span>
                                <span class="dot7"></span>
                                <span class="dot8"></span>
                                <span class="dot9"></span>
                            </a>
                        </div>
                        
                    </div>
                    <div class="rts-menu">
                        <nav class="menus menu-toggle">
                            <ul class="nav__menu">
                                 <a class="menu-item" href="/">Home </i></a>
                                <li><a class="menu-item" href="{% url 'ContactUS' %}">Contact</a></li>
                                <li><a class="menu-item" href="{% url 'AboutUs' %}">About Us</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="responsive-hamburger">
                        <div class="hamburger-1">
                            <a href="#" class="nav-menu-link">
                                <span class="dot1"></span>
                                <span class="dot2"></span>
                                <span class="dot3"></span>
                                <span class="dot4"></span>
                                <span class="dot5"></span>
                                <span class="dot6"></span>
                                <span class="dot7"></span>
                                <span class="dot8"></span>
                                <span class="dot9"></span>
                            </a>
                        </div>
                    </div>
                    <div class="header-action-items header-action-items1">
                        <div class="search-part">
                            <div class="search-icon action-item icon"><i class="rt-search"></i></div>
                            <div class="search-input-area">
                                <div class="container">
                                    <div class="search-input-inner">
                                        
                                        <div class="input-div">
                                            <form action="{% url 'PostsListsViews' %}" method="GET">

                                                        <input id="searchInput1" class="search-input" name="search" type="text"
                                                            placeholder="Search by keyword or #">
                                                        <input type="submit" class="btn btn-success" value="Search">
                                                        
                                            </form>
                                        </div>
                                        <div class="search-close-icon"><i class="rt-xmark"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'Dashboard' %}" class="account"><i class="rt-user-2"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- slide-bar start -->
    <aside class="slide-bar">
        <div class="offset-sidebar">
            <a class="hamburger-1 mobile-hamburger-1 ml--30" href="#"><span><i class="rt-xmark"></i></span></a>
        </div>
        <!-- offset-sidebar start -->
        <div class="offset-sidebar-main">
            <div class="offset-widget mb-40">
                <div class="info-widget">
                    <img src="{{ SiteSetting.logo.url }}" width="212px" height="33px" alt="">
                    <p class="mb-30">
                       {{ SiteSetting.short_about }}
                    </p>
                </div>
                <div class="info-widget info-widget2">
                    <h4 class="offset-title mb-20"> با ما در ارتباط باشید </h4>
                    <ul>
                        <li class="info phone"><a href="tel:{{ SiteSetting.phone_number }}">{{ SiteSetting.phone_number }}</a></li>
                        
                        <li class="info phone"><a href="tel:{{ SiteSetting.second_number }}">{{ SiteSetting.second_number }}</a></li>
                        <li class="info email"><a href="email:{{ SiteSetting.email }}">{{ SiteSetting.email }}</a></li>
                        <li class="info email"><a href="email:{{ SiteSetting.email2 }}">{{ SiteSetting.email2 }}</a></li>
                        <li class="info location">{{ SiteSetting.short_addr }}</li>
                    </ul>

                </div>
            </div>
        </div>
        <!-- offset-sidebar end -->
        <!-- side-mobile-menu start -->
        <nav class="side-mobile-menu side-mobile-menu1">
            <ul id="mobile-menu-active">
                <li >
                    <a class="mm-link" href="/">Home </a>

                </li>

                <li><a class="menu-item" href="{% url 'ContactUS' %}">Contact</a></li>
                <li><a class="menu-item" href="{% url 'AboutUs' %}">About Us</a></li>

            </ul>
        </nav>
        <div class="header-action-items header-action-items1 header-action-items-side">


            <a href="{% url 'Dashboard' %}" class="account"><i class="rt-user-2"></i></a>
        </div>
        <!-- side-mobile-menu end -->
    </aside>
    
</header>