{% extends "layouts/Base.html" %}

{% block breadcrumbs_title %}
    درباره ما
{% endblock breadcrumbs_title %}  

{% block breadcrumbs_contents %}
<li>
    <a class="home-page-link" href="{% url 'PostsListsViews' %}"> 
        صفحه اصلی
        <i class="fal fa-angle-right"></i>
     </a>
</li>
    <li>
        <a class="current-page" href="{% url 'AboutUs' %}"> 
            درباره ما

         </a>
    </li>



{% endblock breadcrumbs_contents %}

{% block title %}
    About US
{% endblock title %}

{% block content %}


    <!--================= Preloader Section Start Here =================-->
    <div id="weiboo-load">
        <div class="preloader-new">
            <svg class="cart_preloader" role="img" aria-label="Shopping cart_preloader line animation"
                viewBox="0 0 128 128" width="128px" height="128px" xmlns="http://www.w3.org/2000/svg">
                <g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="8">
                    <g class="cart__track" stroke="hsla(0,10%,10%,0.1)">
                        <polyline points="4,4 21,4 26,22 124,22 112,64 35,64 39,80 106,80" />
                        <circle cx="43" cy="111" r="13" />
                        <circle cx="102" cy="111" r="13" />
                    </g>
                    <g class="cart__lines" stroke="currentColor">
                        <polyline class="cart__top" points="4,4 21,4 26,22 124,22 112,64 35,64 39,80 106,80"
                            stroke-dasharray="338 338" stroke-dashoffset="-338" />
                        <g class="cart__wheel1" transform="rotate(-90,43,111)">
                            <circle class="cart__wheel-stroke" cx="43" cy="111" r="13" stroke-dasharray="81.68 81.68"
                                stroke-dashoffset="81.68" />
                        </g>
                        <g class="cart__wheel2" transform="rotate(90,102,111)">
                            <circle class="cart__wheel-stroke" cx="102" cy="111" r="13" stroke-dasharray="81.68 81.68"
                                stroke-dashoffset="81.68" />
                        </g>
                    </g>
                </g>
            </svg>
        </div>
    </div>
    <!--================= Preloader End Here =================-->


    <!--================= About Us Start Here =================-->
    <section class="about-us-area pt-120 pb-75 pt-md-60 pb-md-15 pt-xs-50 pb-xs-10">
        <div class="container">
            <div class="image-section">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="image-1">
                            <img width='675px' height='478px' src="{{ SiteSetting.image1.url }}" alt="img">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="image-2">
                            <img width='675px' height='478px' src="{{ SiteSetting.image2.url }}" alt="img">
                        </div>
                    </div>
                </div>
                <div class="section-title">
                    <div class="title-inner">
                        <div class="wrapper">
                            <div class="sub-content">
                                <img class="line-1" src="/assets/images/banner/wvbo-icon.png" alt="">
                                <span>{{ SiteSetting.website_title }}</span>
                                <img class="line-2" src="/assets/images/banner/wvbo-icon.png" alt="">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="section-text">
                <div class="row">
                    <div class="col-lg-6">
                        <p class="description">
                            {% autoescape off %}
                                {{SiteSetting.descriptions}}
                            {% endautoescape %}
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <p class="description">
                            {% autoescape off %}
                                {{SiteSetting.additional_descriptions}}
                            {% endautoescape %}
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!--================= About Us End Here =================-->
 


    <!--================= Scroll to Top Start =================-->
    <div class="scroll-top-btn scroll-top-btn1"><i class="fas fa-angle-up arrow-up"></i><i
            class="fas fa-circle-notch"></i></div>
    <!--================= Scroll to Top End =================-->

    {% endblock content %}
