{% extends "layouts/Base.html" %}

{% block breadcrumbs_title %}
    با ما در تماس باشید
{% endblock breadcrumbs_title %}  

{% block breadcrumbs_contents %}

<li>
    <a class="home-page-link" href="{% url 'PostsListsViews' %}"> 
        صفحه اصلی
        <i class="fal fa-angle-right"></i>
     </a>
</li>
    <li>
        <a class="current-page" href="{% url 'ContactUS' %}"> 
            با ما در تماس باشید
         </a>
    </li>

{% endblock breadcrumbs_contents %}

{% block title %}
    Contact Us
{% endblock title %}

{% block content %}


<div id="weiboo-load">
    <div class="preloader-new">
        <svg class="cart_preloader" role="img" aria-label="Shopping cart_preloader line animation"
            viewBox="0 0 128 128" width="128px" height="128px" xmlns="../../../../../external.html?link=http://www.w3.org/2000/svg">
            <g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="8">
                <g class="cart__track" stroke="hsla(0,10%,10%,0.1)">
                    <polyline points="4,4 21,4 26,22 124,22 112,64 35,64 39,80 106,80" />
                    <circle cx="43" cy="111" r="13" />
                    <circle cx="102" cy="111" r="13" />
                </g>
                <g class="cart__lines" stroke="currentColor">
                    <polyline class="cart__top" points="4,4 21,4 26,22 124,22 112,64 35,64 39,80 106,80"
                        stroke-dasharray="338 338" stroke-dashoffset="-338" />
                    <g class="cart__wheel1" transform="rotate(-90,43,111)">
                        <circle class="cart__wheel-stroke" cx="43" cy="111" r="13" stroke-dasharray="81.68 81.68"
                            stroke-dashoffset="81.68" />
                    </g>
                    <g class="cart__wheel2" transform="rotate(90,102,111)">
                        <circle class="cart__wheel-stroke" cx="102" cy="111" r="13" stroke-dasharray="81.68 81.68"
                            stroke-dashoffset="81.68" />
                    </g>
                </g>
            </g>
        </svg>
    </div>
</div>
<!--================= Preloader End Here =================-->


<!--================= Header Section End Here =================-->
<!--contact-area start-->
<div class="contact-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <form class="contact-form mb-10" action="" method="POST">
                    <div class="section-header section-header5 text-start">
                        <div class="wrapper">
                            <div class="sub-content">
                                <img class="line-1" src="/assets/images/banner/wvbo-icon.png" alt="">
                                <span class="sub-text">Contact Us</span>
                                <img class="line-1" src="/assets/images/banner/wvbo-icon.png" alt="">

                            </div>
                            <h2 class="title"><span class="sub-text">                 ارسال پیام       </span> </h2>
                        </div>
                    </div>
                    <div class="info-form">
                        <div class="row">
                                {% csrf_token %}
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="input-box mb-20">
                                        {{ContactModelForm.full_name}}

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="input-box mail-input mb-20">
                                        {{ContactModelForm.email}}

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="input-box number-input mb-30">
                                        {{ContactModelForm.phone_number}}

        
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="input-box sub-input mb-30">
                                        {{ContactModelForm.subject}}

                                    </div>
                                </div>
                                <div class="col-lg-12 col-sm-12">
                                    <div class="input-box text-input mb-20">
                                        {{ ContactModelForm.media }}
                                        {{ ContactModelForm.message }}

                                    </div>
                                </div>
                                <div class="col-12 mb-15">
                                    <button type="submit" class="form-btn form-btn4">
                                        ارسال پیام
                                    </button>
                                </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <div class="right-side">
                    <div class="get-in-touch">
                        <h3 class="section-title2">
                            اشنایی بیشتر
                        </h3>
                        <div class="contact">
                            <ul>
                                <li class="one">
                                {{ SiteSetting.short_addr}}
                                </li>
                                <li class="two"><a href="tel:{{ SiteSetting.phone_number }}"> {{ SiteSetting.phone_number }} </a>
                                    <br>
                                    <a href="mailto:{{ SiteSetting.email }}"> {{ SiteSetting.email }} </a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="section-button">
                        <div class="btn-1">
                            <!-- <a href="#">Get Support On Call <i class="fal fa-headphones-alt"></i></a> -->
                            <a href="{{ SiteSetting.location_link }}">Get Direction <i class="rt-location-dot"></i></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>
<!--contact-area end-->

{% endblock content %}