{% extends "layouts/Base.html" %}


{% block breadcrumbs_title %}
    حساب کاربری
{% endblock breadcrumbs_title %}  

{% block breadcrumbs_contents %}
    <li>
        <a class="home-page-link" href="{% url 'PostsListsViews' %}"> 
            صفحه اصلی
            <i class="fal fa-angle-right"></i>
         </a>
    </li>

    <li>
        <a class='current-page' href="{% url 'Dashboard' %}">
            حساب کاربری

        </a>

    </li>

{% endblock breadcrumbs_contents %}

{% block title %}
    حساب کاربری
{% endblock title %}

{% block content %}

        <!--================= Preloader Section Start Here =================-->
        <div id="weiboo-load">
            <div class="preloader-new">
                <svg class="cart_preloader" role="img" aria-label="Shopping cart_preloader line animation"
                    viewBox="0 0 128 128" width="128px" height="128px" xmlns="../../../../../external.html?link=http://www.w3.org/2000/svg">
                    <g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="8">
                        <g class="cart__track" stroke="hsla(0,10%,10%,0.1)">
                            <polyline points="4,4 21,4 26,22 124,22 112,64 35,64 39,80 106,80" />
                            <circle cx="43" cy="111" r="13" />
                            <circle cx="102" cy="111" r="13" />
                        </g>
                        <g class="cart__lines" stroke="currentColor">
                            <polyline class="cart__top" points="4,4 21,4 26,22 124,22 112,64 35,64 39,80 106,80"
                                stroke-dasharray="338 338" stroke-dashoffset="-338" />
                            <g class="cart__wheel1" transform="rotate(-90,43,111)">
                                <circle class="cart__wheel-stroke" cx="43" cy="111" r="13" stroke-dasharray="81.68 81.68"
                                    stroke-dashoffset="81.68" />
                            </g>
                            <g class="cart__wheel2" transform="rotate(90,102,111)">
                                <circle class="cart__wheel-stroke" cx="102" cy="111" r="13" stroke-dasharray="81.68 81.68"
                                    stroke-dashoffset="81.68" />
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
        <!--================= Preloader End Here =================-->

    <div class="anywere"></div>

    <!--================= Header Section Start Here =================-->

    <!--================= Header Section End Here =================-->

    <div class="rts-account-section section-gap">
                        

        <div class="container">
            <div class="account-inner">
                <div class="account-side-navigation">
                    <button class="filter-btn active" data-show=".dashboard"><i class="fal fa-chart-bar"></i>
                        Dashboard</button>

                    <button class="filter-btn " >
                        <strong>
                        فعال بودن کاربر :  <input type="checkbox" {% if user.is_active %} checked {% endif %}> 
                    </strong>
                    </button>

                    <button class="filter-btn ">
                        <strong>
        فعال بودن حساب کاربری  :  <input type="checkbox" {% if user.is_verified %} checked {% endif %}>  
</strong>
                    </button>
                    <button class="filter-btn " >
                        <strong>
                            تاریخ تایید ایمیل : <br>{{ user.verified_date.date}}
                        </strong>
                            
                    </button>
                    <button class="filter-btn " >

                        <strong>
                            تاریخ ثبت نام : <br>{{ user.created_at.date}}
                        </strong>

                    </button>
                    {% if user.updated_at %}
                        <button class="filter-btn " >

                            <strong>
                                تاریخ برورسانی اطلاعات  : <br>{{ user.updated_at.date}}
                            </strong>

                        </button>
                    {% endif %}
                    {% if user.last_login %}
                        <button class="filter-btn " >

                            <strong>
                                تاریخ اخرین ورود  : <br>{{ user.last_login.date}}
                            </strong>

                        </button>
                    {% endif %}

                    
                    <form action="{% url 'Logout' %}" method="post">
                        {% csrf_token %}
                        <button class="filter-btn" type="submit" data-show=".dashboard">
                            <i class="fal fa-long-arrow-left"></i>
                            Logout
                        </button>
                    </form>
                </div>
                <div class="account-main-area col-md-12">
                    <div class="account-main dashboard filterd-items">
                        <div class="account-profile-area">
                            <div class="profile-dp"><img src=" {% if user.avatar %} {{ user.avatar.url }} {% else %} /assets/images/blog/img-13.jpg {% endif %} " width="60px" height="60px" alt="profile-dp"></div>
                            <div class="d-block">
                                <span class="profile-name"><span>سلام,</span> {{ user.get_full_name }}</span>
                                <span class="profile-date d-block">{{ user.created_at }}</span>
                            </div>
                        </div>
                        <p> 
                            ویرایش و دیدن اطلاعات خود در این بخش هست
                        </p>

                        <div class="col-lg-12 col-md-12 ">

                            <div class="login-form ">
                                <div class="section-title">
                                    <h2>ویرایش اطلاعات</h2>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <form action="{% url 'UpdateProfile' %}" method="post" enctype="multipart/form-data">
                                            {% csrf_token %}

                                            <div class="form">
                                                {{ UpdateProfileForm.first_name }}
                                            </div>
                                            <div class="form">
                                                {{ UpdateProfileForm.last_name }}    
                                            </div>
                                            <div class="form">
                                                {{ UpdateProfileForm.avatar }}
                                            </div>
                                            <div class="form">
                                                <button type="submit" class="btn"> ویرایش </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <br>

                            <div class="login-form">
                                <div class="section-title">
                                    <h2>ویرایش ایمیل</h2>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <form action="{% url 'ChangeEmail' %}" method="post">
                                            {% csrf_token %}

                                            <div class="form">
                                                {{ UpdateEmailForm.email }}
                                            </div>
                                            <div class="form">
                                                <button type="submit" class="btn"> ویرایش </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <br>

                            <div class="login-form">
                                <div class="section-title">
                                    <h2>ویرایش  رمز عبور</h2>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <form action="{% url 'ChangePassword' %}" method="post">
                                            {% csrf_token %}

                                            <div class="form">
                                                {{ UserSetPasswordForm.current_password }}
                                            </div>
                                            <div class="form">
                                                {{ ChangePasswordForm.password }}
                                            </div>

                                            <div class="form">
                                                {{ ChangePasswordForm.conform_password }}
                                            </div>
                                            <div class="form">
                                                <button type="submit" class="btn"> ویرایش </button>
                                            </div>
                                        
                                        </form>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>

    <!--================= Footer Start Here =================-->

    <!--================= Footer End Here =================-->




    <!--================= Scroll to Top Start =================-->
    <div class="scroll-top-btn scroll-top-btn1"><i class="fas fa-angle-up arrow-up"></i><i
            class="fas fa-circle-notch"></i></div>
    <!--================= Scroll to Top End =================-->

    {% endblock %}