
{% extends "layouts/Base.html" %}


{% block breadcrumbs_title %}
    حساب کاربری
{% endblock breadcrumbs_title %}  

{% block breadcrumbs_contents %}
    <li>
        <a class="home-page-link" href="{% url 'PostsListsViews' %}"> 
            صفحه اصلی
            <i class="fal fa-angle-right"></i>
         </a>
    </li>

    <li>
        <a class='home-page-link' href="{% url 'Dashboard' %}">
            حساب کاربری
            <i class="fal fa-angle-right"></i>

        </a>

    </li>
    <li>
        <a class='current-page' href="{% url 'ForgotPassword' %}">
            فراموشی رمز عبور

        </a>

    </li>

{% endblock breadcrumbs_contents %}

{% block title %}
فراموشی رمز عبور
{% endblock title %}

{% block content %}

<div class="col-lg-12 col-md-12 mr-10">
    <br>
    <div class="login-form">

        <div class="card">
            <div class="card-body">
                <div class="section-title">
                    <h2>ورود</h2>
                </div>
                <form  method="POST">
                    {% csrf_token %}

                    <div class="form">

                        <div class="password-input">
                            {{ ChangePasswordForm.password }}
                        </div>
                    </div>
                    <div class="form">

                        <div class="password-input">
                            {{ ChangePasswordForm.conform_password }}
                        </div>
                    </div>

                    <div class="form">
                        <button type="submit" class="btn">تغییر رمز عبور </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}