{% extends "layouts/Base.html" %}


{% block breadcrumbs_title %}
    حساب کاربری
{% endblock breadcrumbs_title %}  

{% block breadcrumbs_contents %}
    <li>
        <a class="home-page-link" href="{% url 'PostsListsViews' %}"> 
            صفحه اصلی
            <i class="fal fa-angle-right"></i>
         </a>
    </li>

    <li>
        <a class='current-page' href="{% url 'Authorizations' %}">
            ثبت نام یا ورود 

        </a>

    </li>

{% endblock breadcrumbs_contents %}

{% block title %}
    ثبت نام یا ورود 
{% endblock title %}

{% block content %}


    <!--================= Preloader Section Start Here =================-->
    <div id="weiboo-load">
        <div class="preloader-new">
            <svg class="cart_preloader" role="img" aria-label="Shopping cart_preloader line animation"
                viewBox="0 0 128 128" width="128px" height="128px" xmlns="../../../../../external.html?link=http://www.w3.org/2000/svg">
                <g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="8">
                    <g class="cart__track" stroke="hsla(0,10%,10%,0.1)">
                        <polyline points="4,4 21,4 26,22 124,22 112,64 35,64 39,80 106,80" />
                        <circle cx="43" cy="111" r="13" />
                        <circle cx="102" cy="111" r="13" />
                    </g>
                    <g class="cart__lines" stroke="currentColor">
                        <polyline class="cart__top" points="4,4 21,4 26,22 124,22 112,64 35,64 39,80 106,80"
                            stroke-dasharray="338 338" stroke-dashoffset="-338" />
                        <g class="cart__wheel1" transform="rotate(-90,43,111)">
                            <circle class="cart__wheel-stroke" cx="43" cy="111" r="13" stroke-dasharray="81.68 81.68"
                                stroke-dashoffset="81.68" />
                        </g>
                        <g class="cart__wheel2" transform="rotate(90,102,111)">
                            <circle class="cart__wheel-stroke" cx="102" cy="111" r="13" stroke-dasharray="81.68 81.68"
                                stroke-dashoffset="81.68" />
                        </g>
                    </g>
                </g>
            </svg>
        </div>
    </div>
    <!--================= Preloader End Here =================-->

    <div class="anywere"></div>

    <!--================= Header Section Start Here =================-->

    <!--================= Header Section End Here =================-->

    <!--login-area start-->
    <div class="login-area">
        <div class="container">
            <div class="row">



                <div class="col-lg-6 col-md-12 mr-10">
                    <div class="login-form">
                        <div class="section-title">
                            <h2>ورود</h2>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <form action="{% url 'Login' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form">
                                        {{ LoginForm.email }}
                                    </div>
                                    <div class="form">

                                        <div class="password-input">
                                            {{ LoginForm.password }}
                                        </div>
                                    </div>

                                    <div class="form">
                                        <button type="submit" class="btn">ورود </button>
                                    </div>
                                    <a class="forgot-password" href="{% url 'ForgotPassword' %}"> رمز عبور خود را وارد کنید؟</a>
                                    <br>
                                    <a class="forgot-password" href="{% url 'ResentEmail' %}"> ارسال دوباره ایمیل فعال سازی حساب کاربری؟</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 ml-10">
                    <div class="register-form">
                        <div class="section-title">
                            <h2>ثبت نام</h2>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <form method='POST' action='{% url "Registrations" %}' >
                                    {% csrf_token %}
                                    <div class="form">
                                       {{ RegistrationForm.email }}
                                       {{ RegistrationForm.email.errors }}
                                    </div>
                                    <div class="form">
                                        <div class="password-input">
                                            {{ RegistrationForm.password }}
                                            {{ RegistrationForm.password.errors }}
                                        </div>
                                    </div>
                                    <div class="form">
                                        <div class="password-input">
                                            {{ RegistrationForm.conform_password }}
                                            {{ RegistrationForm.conform_password.errors }}
                                        </div>
                                    </div>
                                    <div class="form">
                                        <button type="submit" class="btn">ثبت نام</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--login-area end-->

    <!--================= Scroll to Top Start =================-->
    <div class="scroll-top-btn scroll-top-btn1"><i class="fas fa-angle-up arrow-up"></i><i
            class="fas fa-circle-notch"></i></div>
    <!--================= Scroll to Top End =================-->
    {% endblock content %}
