{% load static %}
{% load render_partial %}


<!DOCTYPE html>
<html lang="en" class="darkmode" data-theme="light" dir="rtl">
    <head>
        {% include "layouts/Header/References/HeaderReferences.html" %}
        <title>
            {% block title %}
            
            {% endblock title %}
        </title>
    </head>

    <body>
        {% render_partial 'blog.views.header_render_partial' %}
        <!-- breadcrumbs -->
        <div class="page-path">
            <div class="container">
                <div class="breadcrumbs-inner">
                    <h3 class="path-title">
                        {% block breadcrumbs_title %}   
                        
                        {% endblock breadcrumbs_title %}
                    </h3>
                    <ul>
                        {% block breadcrumbs_contents %}
                        
                        {% endblock breadcrumbs_contents %}
                    </ul>
                </div>
            </div>
        </div>
        {% block content %}
        
        {% endblock content %}
        {% render_partial 'blog.views.footer_render_partial' %}
        {% include "layouts/Footer/References/FooterReferences.html" %}
    </body>
</html>