
{% extends "layouts/Base.html" %}    
    
{% block title %}
    post
{% endblock title %}

{% block content %}

    <!--================= Preloader Section Start Here =================-->
    <div id="weiboo-load">
        <div class="preloader-new">
            <svg class="cart_preloader" role="img" aria-label="Shopping cart_preloader line animation"
                viewBox="0 0 128 128" width="128px" height="128px" xmlns="http://www.w3.org/2000/svg">
                <g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="8">
                    <g class="cart__track" stroke="hsla(0,10%,10%,0.1)">
                        <polyline points="4,4 21,4 26,22 124,22 112,64 35,64 39,80 106,80" />
                        <circle cx="43" cy="111" r="13" />
                        <circle cx="102" cy="111" r="13" />
                    </g>
                    <g class="cart__lines" stroke="currentColor">
                        <polyline class="cart__top" points="4,4 21,4 26,22 124,22 112,64 35,64 39,80 106,80"
                            stroke-dasharray="338 338" stroke-dashoffset="-338" />
                        <g class="cart__wheel1" transform="rotate(-90,43,111)">
                            <circle class="cart__wheel-stroke" cx="43" cy="111" r="13" stroke-dasharray="81.68 81.68"
                                stroke-dashoffset="81.68" />
                        </g>
                        <g class="cart__wheel2" transform="rotate(90,102,111)">
                            <circle class="cart__wheel-stroke" cx="102" cy="111" r="13" stroke-dasharray="81.68 81.68"
                                stroke-dashoffset="81.68" />
                        </g>
                    </g>
                </g>
            </svg>
        </div>
    </div>
    <!--================= Preloader End Here =================-->

    <div class="anywere"></div>

    <!--news-feed-area start-->
    <section class="news-feed-area pt-120 pb-75 pt-md-60 pb-md-15 pt-xs-50 pb-xs-10">
        <div class="container">
            <div class="row mb-15">
                <div class="col-lg-8 pe-xl-0">
                    <div class="news-left2">
                        <div class="news-top">
                            <div class="icon-text">
                                <span class="viewers fs-10"><a href="#"><i class="fal fa-eye"></i> {{ post.views }} Views</a></span>
                                <span class="comment fs-10"><a href="#"><i class="fal fa-comments"></i> {{ post.postscomment_set.count }} Comments</a></span>
                                <span class="date fs-10"><a><i class="fal fa-calendar-alt"></i> {{ post.updated_at.date }} </a></span>
                            </div>
                            <div class="feature-section">
                                <h2 class="section-title">{{ post.title }}</h2>
                               
                            </div>
                            <p class="description">
                                {{ post.text }}
                            </p>
                            <div class="image-section">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="image-1">
                                            {% if post.image %} 
                                                <img src="{{ post.image.url }}" width='454px' height='341px' alt="img">
                                            {% else %}
                                                <img src="assets/images/background/furniture-banner.webp" alt="img">
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="image-2">
                                            {% if post.image2 %}
                                                <img src="{{ post.image2.url }}" width='454px' height='341px' alt="img">
                                            {% else %}
                                                <img src="assets/images/background/furniture-banner.webp" width='454px' height='341px' alt="img">
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="description">
                                {{ post.text2 }}
                            </p>
                        </div>

                        

                        <div class="button-area">


                            <div class="comment-header">
                                <div class="comment">
                                    <h3>نظرات({{ post.postscomment_set.count }})</h3>
                                </div>
                                <div class="icon">
                                    <a><i class="fal fa-comments"></i></a>
                                </div>
                            </div>

                            {% for comment in comments %}
                            
                                {% if comment.child.all %}
                                    {% for sub_comment in comment.child.all  %}
                                            
                                            <div class="row">
                                                <div class="col-lg-2"></div>
                                                <div class="col-lg-10">
                                                    <div class="comment-section">
                                                        <div class="comment-text">
                                                            <div class="text">
                                                                <div class="section-title">
                                                                    <div class="title">
                                                                        <h2 class="sub-title"><a href='mailto:{{ comment.email }}'>{{ sub_comment.full_name  }}</a></h2>
                                                                        <span class="sect-title"><a><i
                                                                                    class="fal fa-calendar-alt"></i>
                                                                                {{ sub_comment.updated_at.date }}
                                                                            </a></span>
                                                                    </div>
        
                                                                </div>
                                                                <p class="description">
                                                                    {{ sub_comment.comment }}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                                            
                                        {% endfor %}
                                        {% else %}

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="comment-section">
                                                        <div class="comment-text">
                                                            <div class="text">
                                                                <div class="section-title">
                                                                    <div class="title">
                                                                        <h2 class="sub-title"><a href='mailto:{{ comment.email }}'>{{ comment.full_name  }}</a></h2>
                                                                        <span class="sect-title"><a><i
                                                                                    class="fal fa-calendar-alt"></i>
                                                                                {{ comment.updated_at.date }}
                                                                            </a></span>
                                                                    </div>
                                                                    <div class="button">
                                                                        <a onclick="set_parent({{ comment.id }})"><i class="fal fa-reply"></i> Reply</a>
                                                                    </div>
                                                                </div>
                                                                <p class="description">
                                                                    {{ comment.comment }}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                                            

                                    {% endif %}
                                {% endfor %}






                            
                            <div class="comment-form mb-10">
                                <form id='comment_form' method='post'>
                                    {% csrf_token %}

                                    <input type="hidden" id="pid" value="" name="parent" >
                                    <div class="contact-form">
                                        <div class="row">
                                            <div class="col-lg-6 col-sm-12">
                                                <div class="input-box text-input mb-20">
                                                    {{ comment_form.comment }}
                                                    {% comment %} <textarea name="Message" id="validationDefault01"  cols="30" rows="10"
                                                        placeholder="Type Your Comments..." required></textarea> {% endcomment %}
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-12">
                                                <div class="col-lg-12">
                                                    <div class="input-box mb-20">
                                                        {{ comment_form.full_name }}
                                                        {% comment %} <input type="text" id="validationDefault02" placeholder="Type Your Name..." required> {% endcomment %}
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="input-box mail-input mb-20">
                                                        {% comment %} <input type="emial" id="validationDefault03" placeholder="Type Your E-mail..." required> {% endcomment %}
                                                        {{ comment_form.email }}
                                                    </div>
                                                </div>

                                                <div class="col-12 mb-15">
                                                    <button class="form-btn form-btn4">
                                                        <i class="fal fa-comment">
                                                        </i>
                                                        Post Comments
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="col-lg-4 pl-30 pl-lg-15 pl-md-15 pl-xs-15">
                    <div class="news-right-widget">
                        <div class="widget widget-search mb-40">
                            <div class="widget-title-box pb-25 mb-30">
                                <h4 class="widget-sub-title2 fs-20">Search Here</h4>
                            </div>
                            <form class="subscribe-form mb-10" action="#">
                                <input type="text" placeholder="Search your keyword...">
                                <button class="widget-btn"><i class="fal fa-search"></i></button>
                            </form>
                        </div>
                        <div class="widget widget-post mb-40">
                            <div class="widget-title-box pb-25 mb-30">
                                <h4 class="widget-sub-title2 fs-20">Popular Feeds</h4>
                            </div>
                            <ul class="post-list">
                                {% for post in most_view_post %}
                                <li>
                                    

                                        <div class="blog-post mb-30">
                                            <a href="{% url 'PostsDetailViews' post.id %}"><img width='70px' height='70px' src="{{ post.image.url }}"
                                                    alt="Post Img"></a>
                                            <div class="post-content">
                                                <h6 class="mb-10"><a href="{% url 'PostsDetailViews' post.id %}">
                                                    {{ post.title|truncatechars:50 }}
                                                </a></h6>
                                                <span class="fs-14"><i class="fal fa-calendar-alt"></i> 
                                                    {{ post.updated_at }}
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}

                            </ul>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--news-feed-area end-->

    <!--================= Footer Start Here =================-->

    <!--================= Footer End Here =================-->


    <!--================= Scroll to Top Start =================-->
    <div class="scroll-top-btn scroll-top-btn1"><i class="fas fa-angle-up arrow-up"></i><i
            class="fas fa-circle-notch"></i></div>
    <!--================= Scroll to Top End =================-->


    {% endblock content %}
